In [3]:
from pathlib import Path

import pandas as pd

## Data Cleaning

Convert data from xlsx to parquet for more efficient and effective retrieval of
the dataset.

Dataset loading time went from one minute and five seconds using xlsx to 1
second using parquet file. The storage also went down from 44MB to 4MB.

In [4]:
excel_file_path = Path("../data/online_retail_II.xlsx")
dataset = pd.read_excel(excel_file_path)

In [8]:
dataset['Invoice'] = dataset['Invoice'].astype(str)
dataset['StockCode'] = dataset['StockCode'].astype(str)
dataset['Description'] = dataset['Description'].astype(str)

parquet_file_path = Path("../data/online_retail_ii.parquet")
dataset.to_parquet(parquet_file_path)

In [9]:
df = pd.read_parquet(Path("../data/online_retail_ii.parquet"))

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  525461 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [11]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [12]:
df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525461.000000,525461,525461.000000,417534.000000
mean,10.337667,2010-06-28 11:37:36.845017856,4.688834,15360.645478
min,-9600.000000,2009-12-01 07:45:00,-53594.360000,12346.000000
25%,1.000000,2010-03-21 12:20:00,1.250000,13983.000000
50%,3.000000,2010-07-06 09:51:00,2.100000,15311.000000
75%,10.000000,2010-10-15 12:45:00,4.210000,16799.000000
max,19152.000000,2010-12-09 20:01:00,25111.090000,18287.000000
std,107.424110,NaN,146.126914,1680.811316

In [13]:
# Drop Null Customer IDs (Essential for Customer Analysis)
df = df.dropna(subset=['Customer ID'])
df['Customer ID'] = df['Customer ID'].astype(int)

In [15]:
# Remove Cancellations (Invoice starts with 'C') & Negative Prices
df = df[~df['Invoice'].astype(str).str.startswith('C')]
df = df[df['Price'] > 0]

In [16]:
# Fix Date Format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [17]:
# Create Total Revenue Column (feature creation)
df['TotalAmount'] = df['Quantity'] * df['Price']

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407664 entries, 0 to 525460
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      407664 non-null  object
 1   StockCode    407664 non-null  object
 2   Description  407664 non-null  object
 3   Quantity     407664 non-null  int64
 4   InvoiceDate  407664 non-null  datetime64[ns]
 5   Price        407664 non-null  float64
 6   Customer ID  407664 non-null  int64
 7   Country      407664 non-null  object
 8   TotalAmount  407664 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 31.1+ MB

In [20]:
df.to_parquet(Path("../data/cleaned_dataset.parquet"))